# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.venv/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.pyc

# Testing
htmlcov/
.coverage
.tox/

# Miscellaneous
*.pyo
*.swp
